<!DOCTYPE html>
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Shop</title>
 <link rel="stylesheet" href=<%= css %>>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <script src="js/index.js"></script>
</head>
<body>
    <h1>Welcome to our shop</h1>
    <h2>Here is the list of our products</h2>
    <div id='productList'>
        <div class="container">
            <div class="row">
                <% for (let item of list ) { %>
                    <div class='product col-2 col-sm-2'>
                        <a href="/product/<%= item.id %>">
                            <div>
                                <img class='image' src=<%= item.image %> alt=<%= item.name %>>
                            </div>
                            <div class='name'><%= item.name %></div>
                        </a>
                    </div>
                <% } %>
            </div>  
        </div>
    </div>
 </body>
</html>